{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}

    <h1>Reading... {{ sketch.serie.title }}</h1>

    <div class="text-center">
        <a href="{{ path('serie_read', { 'id': sketch.serie.id, 'page': nextPage }) }}">
            <img src="{{asset('uploads/images/sketchs/' ~ sketch.image) }}" class="img-fluid" alt="Responsive image"/>
        </a>
    </div>    

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Back to the list</a>
        </li>
    </ul>

    {% include "@App/footer.html.twig" %}

{% endblock %}
